/* Sign up page css */

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: #EDEDED;
}

.form-container form{
    box-shadow: #da0037 0px 2px 10px;
    border-radius: 10px;
    padding: 20px;
    background-color: #5a5a5a;
}

.form-container form .title{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* .form-container form .input{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
} */

.form-container form button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #da0037;
    color: white;
    width: 100%;
}

.form-container form button:hover{
    border: 1px solid black;
    background-color: #d64569;
}

.form-container a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.form-container a:hover{
    border-bottom: 1px solid #EDEDED;
}